- var imageUrl = event.image
.event-display
  h4.event-title= event.title
  p.event-description= event.description
  .event-details
    img.event-image(src='../images/speaker-' + imageUrl)
    p.event-speaker-name= event.speaker
    p.event-location= event.location
    p.event-time= event.time