- var imageUrl = event.image
.event-display
  p.event-title= event.title
  .event-speaker-div
    p.event-speaker= event.speaker
  .event-place
    span.event-location= event.location
    span.event-time= event.date
  br
  .event-description= event.description
  img.event-image(src='../images/speaker-' + imageUrl)