- var imageUrl = event.image
div(class='event-display')
  p(class='event-title')= event.title
  div(class='event-speaker-div')
    p(class='event-speaker')= event.speaker
  div(class='event-place')
    span(class='event-location')= event.location
    span(class='event-time')= event.date
  br
  div(class='event-description')= event.description
  img(class='event-image'  src='../images/' + imageUrl)